.logoWrapper {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 40px;
  gap: 1rem;
}
.logoWrapper img {
  width: 40px;
}
.mainLayout {
  display: flex;
  justify-content: space-evenly;
}
.leftContainer {
  flex: 1;
  padding: 20px;
}
.leftContainer img {
  width: 150px;
  text-align: center;
}
.leftInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 55vh;
}
.leftInfo h3 {
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 1rem;
  color: black;
  line-height: 55px;
}
.leftInfo p {
  font-weight: 400;
  font-size: 1.29rem;
  margin-bottom: 1rem;
  color: black;
  line-height: 30px;
  opacity: 0.4;
}

.rightContainer {
  flex: 1;
  padding: 20px;
}
.formContainer {
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
  background: #ffff;
  padding: 30px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 5rem;
}
.progress {
  width: 100%;
}
.formInfo {
  padding: 20px 0px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #e2e2ea;
}
.passwordWrapper{
  position: relative;
}
.passwordIcon {
  position: absolute;
  width: 25px;
  /* bottom: 0; */
  top: 6px;
  right: 15px;
}
.termsAndCondition p{
  margin-top: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #252525;
}
.account{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/* Form Section end */
@media (max-width: 1040px) {
  .leftInfo{
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .mainLayout, .nameInput{
flex-direction: column;
  }
}
@media (max-width: 400px) {
  .account{
    margin-top: 20px;
flex-direction: column;
  }
}